// Root variables
:root {
  --main-white: #f1f5ff; // Main color of texts
  --title-bg: #afafaf10; // Background for the titles in the sidemenu
  --bg-color: #0c0d21; // Main background color
  --main-gray: #787b85; // Non-highlighted text color
  --btn-bg: #090a1c; // Button background
  --card-bg: #202134; // Card background color
  --purp-hl: #7000ff; // Purple highlight color
  --main-font: 'Titillium Web', sans-serif;
}

/* Global media query variables
--------------------------------*/
// Very small devices (portrait phones, 320px and down)
$breakpoint-mobile-xs: '(max-width: 20em)';

// Small devices (portrait phones, 428px and down)
$breakpoint-mobile-portrait: '(max-width: 26.75em)';

// Small devices (landscape phones, 576px and down)
$breakpoint-mobile-landscape: '(max-width: 36em)';

// Medium devices (portrait tablets, 768px and down)
$breakpoint-tablet-portrait: '(max-width: 48em)';

// Medium devices (landscape tablets, 1024px and down)
$breakpoint-tablet-landscape: '(max-width: 63.99em)';

// Large devices (desktops, 992px and down)
$breakpoint-large: '(max-width: 62em)';

// Extra large devices (desktops, 1200px and down)
$breakpoint-xlarge: '(max-width: 74.99em)';

// Extra large devices (large desktops, 1400px and down)
$breakpoint-xxlarge: '(max-width: 87.5em)';

body {
  color: var(--main-white); // Setting the main color for the fonts
  font-family: var(--main-font); // Setting the font
  background-color: var(--bg-color); // Setting the background color
  margin-left: 17rem; // Extra spacing on the left side for the sidebar component

  @media #{$breakpoint-large} {
    margin-left: 0; // At 1200px maxscreen width the margin is removed
  }
}

// Tag that makes an element text bold
strong {
  font-weight: 700; // Text boldiness set to 700
}

// Class name used for the bigger profile image
.aspect-ratio {
  width: 100%; // Horizontally fills the entire area
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  margin: 0 auto;

  // container for the content inside
  div {
    position: absolute; // The element is removed from the normal document flow

    // Setting the position of the div
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //

    img {
      width: 100%; // Horizontally fills the entire area
      height: 100%; // Vertically fills the entire area

      object-fit: cover; // To maintain its aspect ratio while filling the element's entire content box
      object-position: center center; // Positions the element in the center vertically and horizontally
    }
  }
}

// Main button styles
.btn-primary {
  background-color: var(--purp-hl);
  border-radius: 1.5rem; // 24px border radius
  margin: 0 0.4rem; // Margin on the left and right side, to give it extra space
  transition: 0.3s ease-in-out; // Transition settings
  border-color: var(--purp-hl);
  border: 2px solid var(--purp-hl);

  &:hover {
    background-color: transparent; // Removing background
    transform: translateY(-0.2rem); // Moving the button up on the Y axis
  }
}

// Secondary button styles
.btn-secondary {
  border: 2px solid var(--purp-hl); // 2px border around the button
  border-radius: 1.5rem; // 24px border radius
  margin: 0 0.4rem; // Margin on the left and right side, to give it extra space
  transition: 0.3s ease; // Transition settings

  &:hover {
    background-color: var(--purp-hl); // Gradient background color
    transform: translateY(-0.2rem); // Moving the button up on Y axis
  }
}
