.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &__content {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem 0 2rem;
    background-color: var(--card-bg);
    position: relative;
    top: -1.5rem;
    align-items: stretch;
    min-height: 60%;
    min-width: 100%;
    max-width: 20rem;

    @media only screen and (max-width: 1400px) {
      min-width: 80%;
    }

    @media only screen and (max-width: 1200px) {
      min-width: 80%;
    }

    @media only screen and (max-width: 1000px) {
      min-width: 45%;
    }
  }

  &__shadow {
    position: absolute;
    height: 1px;
    width: 1px;
    top: 2%;
    left: 10%;
    border-radius: 50%;
    box-shadow: #1362d8 0px 22px 70px 25px;
    z-index: -1;
  }

  .description {
    padding-bottom: 24px;

    h2 {
      font-size: 26px;
      margin-bottom: 5px;
    }

    p {
      line-height: 20px;
      margin: 5px 0;

      &:nth-of-type(1) {
        color: var(--main-gray);
      }
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3.5rem;
    padding: 1rem 0;
    border-top: 1px solid;
    border-image: linear-gradient(0.25turn, #1362d8, #02dbe9);
    border-image-slice: 1;
  }

  .adaptive {
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    position: relative;

    &-photo {
      height: 150px; /*This is what determines the height of your image*/
      flex-grow: 1;

      img {
        max-height: 100%;
        min-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: bottom;
        border-radius: 10px;
        aspect-ratio: 2;
      }
    }
  }
}
