.filter {
  margin: 1.25rem 5rem;

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  &__hashtag {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
    }

    button {
      margin: 1.25rem 1.25rem 0 0;
      padding: 0.625rem 1.25rem;
      border-radius: 0.625rem;
      font-weight: 600;
    }
  }

  .active {
    background-color: var(--title-bg);
  }

  @media only screen and (max-width: 600px) {
    margin: 0 40px 0 50px;
  }

  @media only screen and (max-width: 400px) {
    margin: 0 20px 0 40px;
  }
}
