.filter {
  margin: 1.25rem 5rem;

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  &__hashtag {
    display: flex;
    flex-direction: row;

    @media #{$breakpoint-mobile-landscape} {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media #{$breakpoint-mobile-landscape} {
    margin: 0 2.5rem 0 3.125rem;
  }

  @media #{$breakpoint-mobile-portrait} {
    margin: 0 1.25rem 0 2.5rem;
  }
}
