.header {
  padding: 2.5rem 5rem;
  display: flex;
  height: 7.5rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__actions {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 600px) {
      // flex-direction: column;
      align-items: center;
    }
  }

  button {
    color: var(--main-gray);
    background-color: transparent;
    height: 2.375rem;
    width: 2.375rem;
    border-radius: 50%;
    border: 1px solid var(--main-gray);
    font-size: 1.9rem;
    margin-right: 1rem;
    padding-bottom: 0.5rem;

    &:hover {
      color: var(--main-white);
    }

    @media only screen and (max-width: 600px) {
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  input {
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.625rem;
    padding: 0 1.5rem;
    background-color: transparent;
    border: 1px solid var(--main-gray);
    margin: 0 1rem;

    @media only screen and (max-width: 1200px) {
      width: 15rem;
    }
    @media only screen and (max-width: 1000px) {
      width: 10rem;
    }

    @media only screen and (max-width: 600px) {
      margin: 0;
      width: 5rem;
      padding-left: 0.8rem;
    }
  }

  &__useractions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
    text-align: right;

    &-info {
      text-align: right;

      h4 {
        margin-bottom: 0.5rem;
      }

      p {
        color: var(--main-gray);
      }

      @media only screen and (max-width: 1400px) {
        display: none;
      }
    }

    &-avatar {
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      margin: 0 1.5rem;
      aspect-ratio: 1;

      &:hover {
        cursor: pointer;
      }

      @media only screen and (max-width: 600px) {
        height: 3rem;
        width: 3rem;
      }
    }

    &-notifications {
      img {
        cursor: pointer;

        @media only screen and (max-width: 1400px) {
          display: none;
        }
      }
    }
  }

  .active {
    color: var(--main-white) !important;
  }

  @media only screen and (max-width: 600px) {
    padding: 1.5rem 2.5rem 1.5rem 3.125rem;
  }

  @media only screen and (max-width: 400px) {
    padding: 1.5rem 0.625rem 1.5rem 2.5rem;
  }
}
