/* Header component
-----------------*/
.header {
  padding: 2.5rem 5rem;
  display: flex;
  height: 7.5rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Actions on the left side of the header - buttons and search
  &__actions {
    display: flex;
    align-items: center;
  }

  .arrow-btn {
    // Layout
    height: 2.375rem;
    width: 2.375rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--main-gray);
    margin-right: 1rem;
    padding-bottom: 0.5rem;

    // Typography
    color: var(--main-gray);
    font-size: 1.9rem;

    &:hover {
      color: var(--main-white);
    }

    @media #{$breakpoint-mobile-landscape} {
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Search bar
  input {
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.625rem;
    padding: 0 1.5rem;
    background-color: transparent;
    border: 1px solid var(--main-gray);
    margin: 0 1rem;

    @media #{$breakpoint-xlarge} {
      width: 15rem;
    }
    @media #{$breakpoint-large} {
      width: 10rem;
    }

    @media #{$breakpoint-mobile-landscape} {
      margin: 0;
      width: 7rem;
      padding-left: 0.8rem;
    }
  }

  // Right side of the header
  &__useractions {
    display: flex;
    flex-direction: row;
    align-items: center;

    .login,
    .register {
      color: var(--main-white);
      width: 7rem;
      height: 2.5rem;
      border: 2px solid var(--purp-hl);
      border-radius: 1.5rem;
      align-self: center;
      background-color: transparent;
      margin: 0 0.4rem;
    }
  }

  // Name and profile image
  &__user {
    display: flex;
    align-items: center;
    text-align: right;

    &-info {
      text-align: right;

      h4 {
        margin-bottom: 0.5rem;
      }

      p {
        color: var(--main-gray);
      }

      @media #{$breakpoint-xxlarge} {
        display: none;
      }
    }

    &-avatar {
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      margin: 0 1.5rem;
      aspect-ratio: 1;

      &:hover {
        cursor: pointer;
      }

      @media #{$breakpoint-xxlarge} {
        margin: 0;
      }
      @media #{$breakpoint-mobile-landscape} {
        height: 3rem;
        width: 3rem;
      }
    }

    &-notifications {
      img {
        cursor: pointer;

        @media #{$breakpoint-xxlarge} {
          display: none;
        }
      }
    }
  }

  .active {
    color: var(--main-white);
  }

  @media #{$breakpoint-mobile-landscape} {
    padding: 1.5rem 2.5rem 1.5rem 3.125rem;
  }

  @media #{$breakpoint-mobile-portrait} {
    padding: 1.5rem 0.625rem 1.5rem 2.5rem;
  }
}
