/* Login form component
----------------------*/
.login-form {
  display: flex;

  justify-content: center;
  // align-items: center;
  margin: 5rem 3rem;

  &__input {
    width: 10rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.625rem;
    padding: 0 1.5rem;
    background-color: transparent;
    border: 1px solid var(--main-gray);
  }

  &__btn {
    width: 7rem;
    height: 2.5rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    padding: 2rem;
    border-radius: 0.625rem;
  }
}
