.metacritic {
  padding: 9px;
  border-radius: 50%;
  border: 2px solid;
  display: inline-flex;
  align-items: center;
  &.high {
    color: rgb(7, 192, 7);
    border-color: rgb(7, 192, 7);
  }

  &.mid {
    color: rgb(240, 240, 4);
    border-color: rgb(240, 240, 4);
  }

  &.low {
    color: rgb(230, 2, 2);
    border-color: rgb(230, 2, 2);
  }
}
