/* Porfile feed component
----------------*/
.feed {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  margin-top: 7rem;

  &__buttons {
    position: relative;
    border-radius: 0.625rem;

    background-color: var(--card-bg);

    button {
      height: 2.25rem;
      width: 9.125rem;
      border-radius: 0.625rem;
      background: -webkit-linear-gradient(#7800c6, #7000ff);
      margin: 0.5rem;
    }
  }

  &__post {
    background-color: var(--card-bg);
    margin: 1rem 0;
    border-radius: 0.625rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-avatar {
      width: 3.5rem;
      border-radius: 50%;
      position: relative;

      &--dot::before {
        position: absolute;
        content: '';
        background-color: #26b119;
        border-radius: 50%;
        width: 0.5rem;
        height: 0.5rem;
        pointer-events: none;
        inset: auto 5px 5px auto;
      }

      img {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  &__form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &-media {
      position: absolute;
      inset: 0 auto 0 0;
      padding-left: 2rem;
    }

    &-emoji {
      position: absolute;
      inset: 0 0 0 auto;
      padding-right: 5rem;
    }

    &-submit {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      z-index: 3;
      background-color: var(--title-bg);
      flex-shrink: 0;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__inputarea {
    width: 100%;

    input {
      background-color: var(--btn-bg);
      border-radius: 0.625rem;
      color: var(--main-white);
      font-size: 1rem;
      width: 100%;
      height: 3rem;
      border-radius: 0.625rem;
      padding: 0 3.5rem;
      border: none;
      margin: 0 1rem;
    }
  }

  &__poster {
    display: flex;
    width: 100%;
  }

  &__submitted-post {
    background-color: var(--card-bg);
    border-radius: 0.625rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  &__poster {
    position: relative;
    display: flex;
    flex-direction: row;

    &-img {
      width: 3.5rem;
      height: 3.5rem;
    }

    &-menu {
      transform: rotate(90deg);
      position: absolute;
      inset: 0 0 0 auto;
    }

    &-playing {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1rem;

      &--bold {
        font-weight: 600;
      }
    }
  }

  &__content {
    margin: 2rem 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    border-image: linear-gradient(0.25turn, #7800c6, #7000ff);
    border-image-slice: 1;

    &-actions {
      button {
        margin-right: 2rem;
      }
    }
  }
}
