.sidebar {
  background-color: #090a1c;
  width: 17rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;
  position: fixed;
  inset: 0 auto 0 0;
  z-index: 5;
  transition: left 0.5s ease-in-out;

  @media only screen and (max-width: 1000px) {
    width: 15rem;
    left: -13rem;
  }

  &__logo {
    height: 5rem;

    &:hover {
      cursor: pointer;
    }

    @media only screen and (max-width: 1000px) {
      height: 3.5rem;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    padding: 1rem 0 1rem 3rem;

    li {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      position: relative;
      height: 2.5rem;
      width: auto;
      color: var(--main-gray);

      a {
        padding-left: 2.5rem;
        z-index: 3;

        &:hover {
          color: var(--main-white);
        }
      }

      img {
        position: absolute;
      }
    }

    .title {
      border: 1px solid transparent;
      border-radius: 0 2rem 2rem 0;
      background-color: var(--title-bg);
      padding: 0.6rem 0 0.6rem 4rem;
      width: 12rem;
      margin-left: -4rem;
      margin-bottom: 0.5rem;
    }
  }

  &__btn {
    color: var(--main-white);
    width: 9rem;
    height: 2.5rem;
    border: 2px solid #7000ff;
    border-radius: 1.5rem;
    align-self: center;
    background-color: transparent;
    margin: 5rem 0 1rem 0;
  }

  &__socials {
    width: 7rem;
    align-self: center;
    margin-bottom: 2rem;
  }

  &__toggle {
    position: absolute;
    inset: 50% 0 auto auto;
    font-size: 2rem;
    padding: 0.5rem;
    display: none;
    height: 3.5rem;
    z-index: 6;

    @media only screen and (max-width: 1000px) {
      display: block;
    }
  }
}

.active-sidebar {
  left: 0 !important;
}
