/* CSS RESET */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  color: var(--main-white);
  border-radius: 0;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
////////////////////////////////////////////////////////////////////
/*CSS RESET END*/
////////////////////////////////////////////////////////////////////

@import '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css';

:root {
  --main-white: #f1f5ff;
  --title-bg: #afafaf10;
  --bg-color: #0c0d21;
  --main-gray: #5e6271;
  --btn-bg: #090a1c;
  --main-font: 'Titillium Web', sans-serif;
  --card-bg: #202134;
}

body {
  color: var(--main-white);
  font-family: var(--main-font);
  background-color: var(--bg-color);
}

.project {
  display: flex;
}

.sidebar {
  background-color: #090a1c;
  width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 70px;

  &--logo {
    height: 83px;
    margin-bottom: 70px;
  }

  &--title {
    border: 1px solid transparent;
    border-radius: 0px 20px 20px 0;
    background-color: var(--title-bg);
    padding: 10px 0 10px 60px;
    width: 180px;
    margin-left: -50px;
    margin-bottom: 10px;
  }

  &--menu {
    padding: 15px 0 15px 50px;

    li {
      padding: 10px;
      display: flex;
      align-items: center;
      position: relative;
      height: 40px;

      color: var(--main-gray);

      a {
        padding-left: 40px;
      }

      img {
        position: absolute;
      }

      &:hover {
        color: var(--main-white);
      }
    }
  }

  &--btn {
    color: var(--main-white);
    width: 146px;
    height: 41px;
    border: 2px solid #7000ff;
    border-radius: 25px;
    align-self: center;
    background-color: transparent;
    margin: 180px 0 20px 0;
  }

  &--socials {
    width: 115px;
    align-self: center;
  }
}

.header {
  padding: 40px 100px;
  display: flex;
  height: 120px;
  width: calc(100vw - 300px);
  justify-content: space-between;
  align-items: center;

  &--right {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__text {
      text-align: right;

      h4 {
        margin-bottom: 5px;
      }

      p {
        color: var(--main-gray);
      }
    }
    &__profile {
      border-radius: 50%;
      height: 57px;
      width: 57px;
      margin: 0 24px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &--left {
    display: flex;
    align-items: center;
  }

  button {
    color: var(--main-gray);
    background-color: transparent;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid var(--main-gray);
    font-size: 28px;
    margin-right: 15px;
    padding-bottom: 5px;

    &:hover {
      color: var(--main-white);
    }
  }

  input {
    width: 350px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: transparent;
    border: 1px solid var(--main-gray);
    margin-left: 15px;
  }
}

.filter {
  margin: 20px 100px 20px 100px;

  h2 {
    font-size: 32px;
    font-weight: 700;
  }

  &--hashtag {
    display: flex;
    flex-direction: row;

    button {
      margin: 20px 20px 0 0;
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.results {
  margin: 30px 100px;

  h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    &__card {
      height: 372px;
      width: 333px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      &--poster {
        height: 180px;
        width: 317px;
        border-radius: 10px;
        position: absolute;
      }

      &--content {
        margin-top: 150px;
        padding-top: 70px;
        height: 70%;
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--card-bg);
      }

      &--shadow {
        position: absolute;
        height: 1px;
        width: 1px;
        top: 2%;
        left: 10%;
        border-radius: 50%;
        // background-color: #1362d8;
        box-shadow: #1362d8 0px 22px 70px 25px;
        z-index: -1;
      }

      &--description {
        width: 300px;
        height: 100px;
        border-bottom: 1px solid;
        border-image: linear-gradient(0.25turn, #1362d8, #02dbe9);
        border-image-slice: 1;
        padding-bottom: 24px;

        h2 {
          font-size: 26px;
          margin-bottom: 5px;
        }

        p {
          line-height: 20px;
          margin: 5px 0;

          &:nth-of-type(1) {
            color: var(--main-gray);
          }
        }
      }

      &--icons {
        margin: auto 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}

.selected {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 100px;

  .cover {
    width: 500px;
  }
}

.loading {
  margin: 0 auto;
  margin-top: 10%;
}

.active {
  background-color: var(--title-bg);
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  color: transparent;
}

@keyframes skeleton-loading {
  0% {
    background-color: #808080;
  }
  100% {
    background-color: #cfcfcf;
  }
}
