/* = Skeleton styling for card and selected game loading effect
-------------------------------------------------------------*/
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;

  &-cover {
    width: 100%;
    height: auto;
    border-radius: 0.625rem;

    &--selected {
      width: 100%;
      height: 100%;
      margin-bottom: 1.5rem;
    }
  }

  &-title {
    // Layout
    width: 100%;
    height: auto;
    padding: 0.5rem;

    // Typography
    color: transparent;
    border: none !important; // Needs "!importand" to get rid of the line under title during loading
  }

  &-text {
    // Layout
    width: 100%;
    height: auto;

    // Typography
    color: transparent;
  }

  &__icons {
    border: none;
    height: auto;
    padding: 1.75rem;

    img {
      display: none;
    }
  }

  &__grid {
    div {
      width: 100%;
      height: 4rem;
    }
  }
}

/* Loading animation keyframes
----------------------------*/
@keyframes skeleton-loading {
  0% {
    background-color: #808080;
  }
  100% {
    background-color: #cfcfcf;
  }
}
