/* = Skeleton styling for card and selected game loading effect
-------------------------------------------------------------*/
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  //Animation explanation:
  // "skeleton-loading" - name pof the animation
  // 1s                 - duration
  // linear             - sets how an animation progresses through the duration of each cycle
  // infinite           - runs for ever
  // alternate          - reverses direction each cycle

  // PS: since this is a loading animation for the cards and selected game,
  // widths and heights need to be 100%, so the loading effect covers the entire area of the elements.

  // Image of the skeleton card
  &-cover {
    width: 100%; // Horizontally fills the entire area
    border-radius: 0.625rem; // 10px border radius

    // Cover of the selected game
    &--selected {
      height: 100%; // Vertically fills the entire area
      margin-bottom: 1.5rem; // Margin below to create more space between elements
    }
  }

  // Title of the card
  &-title {
    // Layout
    width: 100%; // Horizontally fills the entire area
    padding: 0.5rem; // Padding inside the title, in every direction, making it bigger

    // Typography
    color: transparent; // Color of the text is transparent, so the animation doesnt have anything on top of it
  }

  // Text box under the title
  &-text {
    // Layout
    width: 100%; // Horizontally fills the entire area

    // Typography
    color: transparent; // Color of the text is transparent, so the animation doesnt have anything on top of it
  }

  // Icons at the bottom of the card component
  &__icons {
    border: none; // Removes the border from the icons (blue line above it)
    padding: 1.75rem; // Padding inside the title, in every direction, making it bigger

    // Individual icons
    img {
      display: none; // Hiding them during the loading animation
    }
  }
}

// Controlling steps of the animation, by defining keyframes
@keyframes skeleton-loading {
  0% {
    background-color: #808080; // Color of the animation at the start
  }
  100% {
    background-color: #cfcfcf; // Color of the animation at the end
  }
}
